# ENV
.env.local

# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
dist/
build/

# Logs
*.log

# OS
.DS_Store

# Archives (🔥 cause de ton bug Vercel)
*.zip
*.tar.gz

# Playwright
playwright-report/
test-results/
blob-report/
playwright/.cache/
playwright/.auth/
